:root {
  --primary-color: #9b7bbb;
  --primary-color-deep: #8259aa;
  --secondary-color: #667eea;
  --light-color: #ffffff;
}

body {
  background-color: var(--primary-color) !important;
}

.portfolio-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: var(--primary-color-deep) !important;
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 350px;
  margin-top: 72px;
  border-radius: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(102, 126, 234, 0.52),
      rgba(118, 75, 162, 0.73)
    ),
    url("https://www.stockvault.net/data/2016/03/21/189035/preview16.jpg");
  background-size: cover;
  background-position: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border: 2px solid var(--light-color);
}

.jumbotron-title {
  background-color: var(--light-color);
  display: inline-block;
  color: var(--primary-color);
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}

.jumbotron-subtitle {
  font-size: 26px;
  color: var(--light-color);
}

.jumbotron-subtitle--strong {
  font-size: 30px;
}

.card-link-container {
  flex-grow: 0;
  height: 50px;
}

.tech-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
}
