/* define resuable style rules */
:root {
  --primary-color: #b59dcc;
  --primary-color-deep: #8259aa;
  --secondary-color: #a3b1f2;
  --secondary-color-deep: #667eea;
  --light-color: #ffffff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45);
  --transition: all 0.5s ease-out;
}

/* overwrite Boostrap background color */
body {
  background-color: var(--primary-color) !important;
}

/* navbar starts here */
.portfolio-navbar {
  /* apply css to build a fix header */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: var(--primary-color-deep) !important;
}
/* navbar ends here */

/* jumbotron starts here */
.jumbotron {
  display: flex;
  align-items: center;
  height: 350px;
  margin-top: 72px;
  border-radius: 0;
  /* apply gradient on background image */
  background-image: linear-gradient(
      to bottom,
      rgba(102, 126, 234, 0.52),
      rgba(118, 75, 162, 0.73)
    ),
    url("https://www.stockvault.net/data/2016/03/21/189035/preview16.jpg");
  background-size: cover;
  background-position: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border: 2px solid var(--light-color);
}

.jumbotron-title {
  background-color: var(--light-color);
  display: inline-block;
  color: var(--secondary-color-deep);
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}

.jumbotron-subtitle {
  font-size: 26px;
  color: var(--light-color);
}

.jumbotron-subtitle--strong {
  font-size: 30px;
}
/* jumbotron ends here */

/* work starts here */
#work {
  scroll-margin-top: 100px;
}

.project-card {
  transition: var(--transition);
}

.project-card:hover {
  /* apply hover effect on project card */
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
  color: var(--light-color);
  border-radius: 15px;
  overflow: hidden;
  border: none;
}

.project-card:hover .card-link-container {
  /* apply hover effect on the link container when project card is hovered */
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color-deep);
}

.project-card:hover .card-link-container a {
  /* apply hover effect on the link when project card is hovered */
  color: var(--light-color);
}

.card-link-container {
  flex-grow: 0;
  height: 50px;
  transition: var(--transition);
}
/* work ends here */

/* skills starts here */
.tech-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
}

.skill-container {
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid var(--light-color);
  transition: var(--transition);
}

.skill-container:hover {
  /* apply hover effect on skill container */
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
}
/* skills ends here */
